body {
    background-color: #090D1F;
}

/* Header styles override */
.username p {
    color: #FFFFFF;
}

.nav-link {
    color: #FFFFFF;
}

.burger span {
    background-color: #FFFFFF;
}

/* Footer styles override */
.footer-link, .cr-label {
    color: rgb(255, 255, 255);
}

.blog-wrapper {
    display: flex;
    margin: 78px auto;
    gap: 32px;
}

@media (max-width: 768px) {
    .blog-wrapper {
        flex-direction: column-reverse;
    }
}

.recent-blogs {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 342px;
}

@media (max-width: 1440px) {
    .recent-blogs {
        width: 300px;
    }
}

@media (max-width: 1280px) {
    .recent-blogs {
        width: 280px;
    }
}

@media (max-width: 1024px) {
    .recent-blogs {
        width: 240px;
    }
}

@media (max-width: 768px) {
    .recent-blogs {
        width: 100%;
    }
}

.recent-blog {
    width: 100%;
}

.recent-blog-img {
    width: 100%;
    transition: 0.2s all;
}

.recent-blog-img:hover {
    opacity: 0.8;
}

.recent-blogs-title {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0;
    color: #FFFFFF;
}

.recent-blog-date {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    color: #6941C6;
    margin-top: 32px;
}

.recent-blog-title {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0;
    color: #FFFFFF;
}

.recent-blog-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    transition: 0.2s all;
}

.recent-blog-link:hover {
    opacity: 0.8;
}

.recent-blogs-content {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: #C0C5D0;
    margin-top: 12px;
}

.blog-content {
    flex: 1;
}

.blog-title {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 32px;
    letter-spacing: 0;
    color: #FFFFFF;
    margin-top: 32px;
}

.blog-text {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: #C0C5D0;
    margin-top: 32px;
}
