body {
    background-color: #090D1F;
}

/* Header styles override */
.username p {
    color: #FFFFFF;
}

.nav-link {
    color: #FFFFFF;
}

.burger span {
    background-color: #FFFFFF;
}

/* Footer styles override */
.footer-link, .cr-label {
    color: rgb(255, 255, 255);
}

.blog-wrapper {
    display: flex;
    margin: 78px auto;
    gap: 32px;
}

@media (max-width: 768px) {
    .blog-wrapper {
        flex-direction: column-reverse;
    }
}

.recent-blogs {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 342px;
}

@media (max-width: 1440px) {
    .recent-blogs {
        width: 300px;
    }
}

@media (max-width: 1280px) {
    .recent-blogs {
        width: 280px;
    }
}

@media (max-width: 1024px) {
    .recent-blogs {
        width: 240px;
    }
}

@media (max-width: 768px) {
    .recent-blogs {
        width: 100%;
    }
}

.recent-blog {
    width: 100%;
}

.recent-blog-img {
    width: 100%;
    transition: 0.2s all;
}

.recent-blog-img:hover {
    opacity: 0.8;
}

.recent-blogs-title {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0;
    color: #FFFFFF;
}

.recent-blog-date {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    color: #6941C6;
    margin-top: 32px;
}

.recent-blog-title {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0;
    color: #FFFFFF;
}

.recent-blog-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    transition: 0.2s all;
}

.recent-blog-link:hover {
    opacity: 0.8;
}

.recent-blogs-content {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: #C0C5D0;
    margin-top: 12px;
}

.blog-content {
    flex: 1;
}

.blog-title {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 32px;
    letter-spacing: 0;
    color: #FFFFFF;
    margin-top: 32px;
}

.blog-text {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: #C0C5D0;
    margin-top: 32px;
}

.blog-comments {
    margin-top: 64px;
}

.separator {
    height: 1px;
    width: 100%;
    background-color: rgba(29, 41, 57, 1);
}

.blog-comments-title {
    font-family: Inter, monospace;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 1);
    margin-top: 50px;
}

.comment-input {
    border-radius: 8px;
    border: 1px solid rgba(55, 65, 81, 1);
    resize: none;
    margin-top: 32px;
    width: 100%;
    min-height: 120px;
    background-color: rgba(17, 24, 39, 1);
    outline: none;
    font-family: Inter, monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 1);
    padding: 10px;
    box-sizing: border-box;
}

.post-btn {
    width: 145px;
    height: 45px;
    border-radius: 6px;
    background-color: rgba(67, 24, 209, 1);
    margin-top: 22px;
    font-family: Inter, monospace;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0;
    text-align: center;
    border: none;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    transition: 0.3s all;
}

.post-btn:hover {
    opacity: 0.7;
}

.comment-header {
    display: flex;
    justify-content: space-between;
}

.comment-wrapper {
    margin-top: 32px;
    background-color: rgba(17, 24, 39, 1);
    border-radius: 12px;
    padding: 24px;
}

.author-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.author-wrapper {
    display: flex;
    gap: 12px;
    align-items: center;
}

.author-name {
    font-family: Inter, monospace;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 1);
}

.comment-date {
    font-family: Inter, monospace;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    color: rgba(107, 114, 128, 1);
}

.like-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.like-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.like-count {
    font-family: Inter, monospace;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
    color: rgba(67, 24, 209, 1);
}

.comment-content {
    margin-top: 18px;
}

.comment-text {
    font-family: Inter, monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 1);
}

.reply-btn {
    margin-top: 16px;
    font-family: Inter, monospace;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: rgba(67, 24, 209, 1);
    transition: 0.3s all;
}

.reply-btn:hover {
    opacity: 0.7;
}